@mixin button-no-style {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

@mixin circle($diameter, $z_index) {
    position: absolute;
    z-index: $z_index;
    width: $diameter;
    height: $diameter;
    background: var(--gradient-bg);
    border-radius: 50%;
}