#aside {
    z-index: 101;
    position: fixed;
    top: 0;
}

.aside {
    width: 20%;
    background: var(--aside-bg);
}

.menu-user {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    &__photo-user {
        height: 30%;
        background: var(--photo-user-bg);
        img {
            display: block;
            margin: 6rem auto;
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
        }
    }
    &__stats {
        margin: 3rem 0;
        li {
            padding: 1.5rem 4rem;
            a {
                color: var(--text-color);
                font-size: 1.8rem;
                span {
                    margin-right: 1rem;
                }
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-around;
    }
    .active::after {
        content: '';
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        right: 0;
        background: var(--active-aside-element-color);
        border-radius: 50% 0 0 50%;
    }
}