.section-info {
    margin: 3rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 1rem;
    &__header {
        font-size: 3rem;
    }
    &__sort {
        border: none;
        outline: none;
    }
    &__button {
        cursor: pointer;
        border: none;
        outline: none;
        padding: 1rem 3rem;
        background: $main-bg-gradient;
        border-radius: 1rem;
        font-size: 1.8rem;
    }
}