$header-bg:rgb(233, 233, 233);
$text-color:#000;
$main-bg:rgb(237, 193, 210);
$aside-bg:#fff;
$main-bg-gradient:linear-gradient(94deg, rgba(237, 193, 210, 0.9948354341736695) 37%, rgba(149, 190, 235, 1) 88%);
$description-color:#8D96BD;
$active-aside-element-color:#C169D3;
$categories-color: ( work: #fa909d, hobby: #E2DBA1, other: blue, education:green, );