.header__change-theme {
    position: relative;
    display: flex;
    flex-direction: row;
}

.header__button-background {
    z-index: 0;
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--button-color);
}

input[name="themes"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.themes {
    contain: '';
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

input[value="dark"]:checked+label {
    margin-left: 1rem;
    background-image: url('../../../../../static/images/dest/sun.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

input[value="light"]:checked+label {
    margin-right: 1rem;
    background-image: url('../../../../../static/images/dest/moon.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}