$text-color:#000;
$main-bg:rgb(237, 193, 210);
$aside-bg:#fff;
$description-color:#8D96BD;
$light-bg:#fff;
$categories-color: ( work: #F499B4, hobby: #F4E773, other: #D281F4, education:#50C878, sport:rgb(98, 160, 241), );