@mixin task() {
    .task {
        &__tittle {
            font-size: 1.8rem;
            text-transform: capitalize;
            &.overdue {
                color: var(--overdue-task-color)
            }
        }
        &__description {
            margin: 2rem 0;
            font-size: 1.4rem;
        }
        &__deadline {
            font-size: 1.8rem;
        }
        &__button-delete {
            position: absolute;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
            right: 2rem;
            top: 1rem;
        }
    }
}

@each $categorie,
$color in $categories-color {
    .task-#{$categorie} {
        cursor: pointer;
        position: relative;
        margin: 3rem 0;
        background: $color;
        padding: 2rem 3rem;
        border-radius: 1rem;
        @include task();
    }
    .task-in-progress-#{$categorie} {
        cursor: pointer;
        position: relative;
        margin: 3rem 0;
        background: $color;
        padding: 2rem 3rem;
        border-radius: 1rem;
        @include task();
    }
    .task-completed-#{$categorie} {
        cursor: pointer;
        position: relative;
        margin: 3rem 0;
        background: $color;
        padding: 2rem 3rem;
        border-radius: 1rem;
        @include task();
    }
}