.tasks {
    position: relative;
    color: var(--text-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--theme-color);
    border-radius: 1rem;
    &__content {
        display: flex;
        flex-direction: row;
    }
    &__add {
        background: var(--tasks-add-bg);
        padding: 2rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        cursor: pointer;
        color: var(--text-color);
        font-size: 2.5rem;
        span {
            margin: 0 0.5rem;
        }
    }
    &__elements {
        margin: 3rem;
        width: 33%;
        background: var(--tasks-blocks-bg);
        padding: 3rem;
        border-radius: 1rem;
        &.hover {
            background: var(--overdue-task-color);
        }
    }
    &__header {
        text-align: center;
        font-size: 1.8rem;
    }
}