@mixin task($color) {
    .task {
        &__tittle {
            font-size: 1.8rem;
            text-transform: capitalize;
        }
        &__description {
            margin: 2rem 0;
            font-size: 1.4rem;
        }
        &__deadline {
            font-size: 1.8rem;
        }
        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin: 1rem 0;
        }
        &__button-delete {
            cursor: pointer;
            font-size: 2rem;
            color: var(--text-color);
        }
        &__button-edit {
            margin: 0 1.5rem 0 0;
            cursor: pointer;
            font-size: 2rem;
            color: var(--text-color);
        }
        &__button-move {
            position: absolute;
            content: '';
            width: 3rem;
            height: 3rem;
            top: 2rem;
            right: 50%;
            cursor: pointer;
            border-radius: 50%;
            background-color: darken($color, 30%);
        }
    }
}

@each $categorie,
$color in $categories-color {
    .task-#{$categorie} {
        cursor: default;
        position: relative;
        margin: 3rem 0;
        background: $color;
        padding: 2rem 3rem;
        border-radius: 1rem;
        &.overdue {
            .task {
                &__tittle {
                    color: var(--overdue-task-color)
                }
            }
        }
        &.move {
            position: absolute;
            z-index: 1000;
            max-width: 500px;
            max-height: 700px;
            color: var(--text-color)
        }
        @include task($color);
    }
    .task-in-progress-#{$categorie} {
        position: relative;
        margin: 3rem 0;
        background: $color;
        padding: 2rem 3rem;
        border-radius: 1rem;
        @include task($color);
        &.overdue {
            .task {
                &__tittle {
                    color: var(--overdue-task-color)
                }
            }
        }
        &.move {
            position: absolute;
            z-index: 1000;
            max-width: 500px;
            max-height: 700px;
            color: var(--text-color)
        }
    }
    .task-completed-#{$categorie} {
        position: relative;
        margin: 3rem 0;
        background: $color;
        padding: 2rem 3rem;
        border-radius: 1rem;
        @include task($color);
        &.overdue {
            .task {
                &__tittle {
                    color: var(--overdue-task-color)
                }
            }
        }
        &.move {
            position: absolute;
            z-index: 1000;
            max-width: 500px;
            max-height: 700px;
            color: var(--text-color)
        }
    }
}